@model SubjectAndClassManagement.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.number_of_members)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.number_of_members)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.days_of_week)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.days_of_week)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.class_period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.class_period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.subject_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.room_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.teacher_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.class_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="DisplayStudents" asp-route-id="@Model?.class_id">Display Students</a>
</div>
