@model IEnumerable<SubjectAndClassManagement.Models.Student>

@{
    ViewData["Title"] = "Students";
}


<link rel="stylesheet" href="~/css/StyleSheet.css" />

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="title" style="width:1000px; font-size: 35px; margin-bottom:20px">@ViewData["ClassName"]</h2>
                        @{
                            var classId = TempData["ClassId"];
                        }
                    </div>
                    <div class="row">
                        <div class="col col-sm-3">
                            <h4 class="title">Student registrated</h4>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="btn_group ml-auto">
                                <div class="col-sm-9 text-right">
                                    <div class="btn_group" style="width: 1300px">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <a asp-action="Create">
                                            <button class="btn" type="button" style="height: 40px; width: 150px">Create New</button>
                                        </a>
                                        <a asp-controller="StuGrade" asp-action="EditResults" asp-route-id='@classId'>
                                            <button class="btn btn-primary" type="button" style="height: 40px;">ManageResult</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.student_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.phone_number)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.student_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.phone_number)
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
