@model IEnumerable<SubjectAndClassManagement.Models.Class>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.number_of_members)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.days_of_week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.class_period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.number_of_members)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.days_of_week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.class_period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.subject_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.room_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.teacher_id)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.class_id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.class_id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.class_id">Delete</a>
                    </td>
                }
                
        </tr>
}
    </tbody>
</table>
