@model SubjectAndClassManagement.Models.Student
@{
    ViewData["Title"] = "Student Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset class="mb-4">
    <legend>Grade of student</legend>
 

    <div class="mt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Subject ID</th>
                    <th>Subject name</th>
                    <th>Credits</th>
                    <th>Attendance</th>
                    <th>Middle</th>
                    <th>Final</th>
                    <th>Average</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Registrations != null)
                {   
                    foreach (var result in Model.Registrations)
                {
                    <tr>
                        <td>@result.Class.subject_id</td>
                        <td>@result.Class.Subject.subject_name</td>
                        <td>@result.Class.Subject.credit</td>
                        <td>@result.StudentResult.ResultColumns.FirstOrDefault(rc => rc.column_name == "Attendance")?.grade</td>
                        <td>@result.StudentResult.ResultColumns.FirstOrDefault(rc => rc.column_name == "Midterm")?.grade</td>
                        <td>@result.StudentResult.ResultColumns.FirstOrDefault(rc => rc.column_name == "Final")?.grade</td>
                        <td>@result.StudentResult.grade</td>
                    </tr>
                }}
            </tbody>
        </table>
    </div>
</fieldset>
