@model IEnumerable<SubjectAndClassManagement.Models.StudentRegistration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.registration_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.registration_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.student_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.class_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.registration_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.registration_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.registration_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
