@model IEnumerable<SubjectAndClassManagement.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Subject</title>
        <link rel="stylesheet" href="~/css/StyleSheet.css"/> 
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-sm-3">
                                    <h4 class="title">Subject Management</h4>
                                </div>
                                <div class="col-sm-9 text-right">
                                <div class="btn_group ml-auto">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <a asp-action="Create">
                                            <button class="btn btn-primary" type="button" style="height: 40px;">Create New</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.subject_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.subject_description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.credit)
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.subject_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.subject_description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.credit)
                                            </td>
                                            @* <td>
                                                <a asp-action="Edit" asp-route-id="@item.subject_id">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.subject_id">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.subject_id">Delete</a>
                                            </td> *@
                                            <td>
                                                <ul class="action-list">
                                                    <li><a asp-action="Edit" asp-route-id="@item.subject_id" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                    <li><a asp-action="Delete" asp-route-id="@item.subject_id" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>

