@model SubjectAndClassManagement.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.academic_year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.academic_year)
        </dd>

        @* Display Profile Information *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Profile.date_of_birth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Profile.date_of_birth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Profile.gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Profile.gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Profile.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Profile.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Profile.citizen_id_card)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Profile.citizen_id_card)
        </dd>


    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.student_id">Edit</a> |
        <a asp-action="Index">Back to List</a>
        <a asp-controller="Accounts" asp-action="ChangePassword">Change Password</a>
    </div>

    @* Display Classes Registrations Information *@
    <h4>Classes Registered</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Registrations date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Class
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Registrations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.registration_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.student_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.class_id)
                    </td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                        <a asp-controller="StudentRegistrations" asp-action="Details" asp-route-id="@item.registration_id">Details</a> |
                        <a asp-controller="StudentRegistrations" asp-action="Delete" asp-route-id="@item.registration_id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

