@model SubjectAndClassManagement.Models.Student

@{
    ViewData["Title"] = "Details";
}



<div>


    <form class="row g-3">

        <div class="col-4">
            <label asp-for="student_id" class="control-label">Student Id</label>
            <input asp-for="student_id" class="form-control" readonly />
        </div>
        <div class="col-8">
            <label asp-for="student_name" class="control-label">Full name</label>
            <input asp-for="student_name" class="form-control" readonly />
        </div>
        <div class="col-md-4">
            <label asp-for="academic_year" class="control-label">Academic year</label>
            <input asp-for="academic_year" class="form-control" readonly />
        </div>

        <div class="col-md-2">
            <label asp-for="User.Profile.gender" class="control-label">Gender</label>
            <select asp-for="User.Profile.gender" class="form-control" readonly>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="email" class="control-label">Email</label>
            <input asp-for="email" class="form-control" readonly />
        </div>

        <div class="col-md-4">
            <label asp-for="User.Profile.date_of_birth" class="control-label">Date of birth</label>
            <input asp-for="User.Profile.date_of_birth" class="form-control" readonly />
        </div>

        <div class="col-md-4">
            <label asp-for="phone_number" class="control-label">Phone number</label>
            <input asp-for="phone_number" class="form-control" readonly />
        </div>

        <div class="col-md-4">
            <label asp-for="User.Profile.citizen_id_card" class="control-label">Citizen Id</label>
            <input asp-for="User.Profile.citizen_id_card" class="form-control" readonly />
        </div>

        <div class="col-12">
            <label asp-for="User.Profile.address" class="control-label">Address</label>
            <input asp-for="User.Profile.address" class="form-control" readonly />
        </div>

        <div class="col-2">
            <button asp-action="Edit" asp-route-id="@Model?.student_id" class="p-2">Update information</button>
        </div>
        @if(User.IsInRole("admin"))
        {
            <div class="col-2">
                <button asp-action="Delete" asp-route-id="@Model?.student_id" class="p-2">Delete</button>
            </div>
            <div class="col-2">
                <button asp-action="Index" asp-route-id="@Model?.student_id" class="p-2">Back to list</button>
            </div>
        }

        <div class="col-2">
            <button asp-controller="Accounts" asp-action="ChangePassword" class="p-2">Update password</button>
        </div>




    </form>
    


    

    @* Display Classes Registrations Information *@
    <h2 class="mt-4 text-center">Classes Registered</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Registrations date
                </th>
                <th>
                    Credits
                </th>
                <th>
                    Class
                </th>
                <th>
                    Subject Name
                </th>
                <th>
                    Teacher
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Registrations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.registration_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.Subject.credit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.class_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.Subject.subject_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.Teacher.teacher_name)
                    </td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                        <a asp-controller="StudentRegistrations" asp-action="Details" asp-route-id="@item.registration_id">Details</a> |
                        <a asp-controller="StudentRegistrations" asp-action="Delete" asp-route-id="@item.registration_id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

