@model IEnumerable<SubjectAndClassManagement.Models.Student>

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <title>Subject</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3">
                                <h4 class="title">Subject Management</h4>
                            </div>
                            <div class="col-sm-9 text-right">
                                <div class="btn_group ml-auto">
                                    <div class="btn_group ml-auto">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <!-- import -->
                                        <form asp-action="ImportFromExcel" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="fileUpload">Import Students:</label>
                                                <input type="file" id="fileUpload" name="file" class="form-control-file" />
                                            </div>
                                            <button type="submit" class="btn btn-success">Import</button>
                                        </form>

                                        <!-- export -->
                                        <a class="btn btn-primary" asp-action="ExportToExcel">Export to Excel</a>

                                        <a asp-action="Create">
                                            <button class="btn btn-primary" type="button" style="height: 40px;">Create New</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.student_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.phone_number)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.phone_number)
                                        </td>
                                        @* <td>
                                    <a asp-action="Edit" asp-route-id="@item.subject_id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.subject_id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.subject_id">Delete</a>
                                    </td> *@
                                        <td>
                                            <ul class="action-list">
                                                <li><a asp-action="Edit" asp-route-id="@item.student_id" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a asp-action="Delete" asp-route-id="@item.student_id" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

